.add-package form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.add-package form input,
textarea {
  width: 100%;
  padding: 10px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media (max-width: 575.98px) {
  .add-package form {
    width: 100%;
    padding: 10px;
  }
}
