.hero-banner {
  position: relative;
  background-image: url(../../../images/home-banner.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 100vh;
  z-index: 2;
}

.hero-banner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 38, 51, 0.75);
  /* opacity: 0.5; */
  z-index: -1;
}

.hero-banner h2 {
  font-size: 65px;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
  .hero-banner {
    text-align: center;
  }
  .hero-banner h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .hero-banner p {
    width: 100% !important;
  }
}
