.packages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .packages {
    grid-template-columns: auto;
    text-align: center;
  }

  h2 {
    font-size: 32px;
  }
}
